@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.woff2') format('woff2'),
        url('RobotoSlab-Bold.woff') format('woff'),
        url('RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.woff2') format('woff2'),
        url('RobotoSlab-Regular.woff') format('woff'),
        url('RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Medium.woff2') format('woff2'),
        url('RobotoSlab-Medium.woff') format('woff'),
        url('RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

